$primary-text-color: #1A202C;
$secondary-text-color: #3D5278;
$info-text-color: #90A3BF;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F6F7F9;

$button-color: #3563E9;

// $button-border-color: #373744;


$main-font-family: 'Plus Jakarta Sans', sans-serif;